<div class="popup-screen">
    <div class="popup-position">
        <div class="popup-container popup-small">
            <div class="popup-header">
                <span><i class="fa fa-bars"></i>Danh Mục Nhanh</span>
                <a class="popup-close" data-target="popup-close" data-popup-close="#popup-categories">&times;</a>
            </div>
            <div class="popup-content">
                <div class="nav-secondary">
                    <ul>
                        <% (0..12).each do |category| %>
                            <li><%= link_to 'Máy Vi Tính', '', title: '' %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>