<a class="sticky-categories" data-target="popup" data-popup="#popup-categories">
    <span>Danh Mục</span>
    <i class="material-icons">tune</i>
</a>
<a class="sticky-mycart" data-target="popup" data-popup="#popup-mycart">
    <span>Giỏ Hàng</span>
    <i class="material-icons">add_shopping_cart</i>
</a>
<a class="sticky-myaccount" data-target="popup" data-popup="#popup-myaccount">
    <span>Tài Khoản</span>
    <i class="material-icons">supervisor_account</i>
</a>
<a class="sticky-recent" data-target="popup" data-popup="#popup-recent">
    <span>Sản Phẩm Đã Xem</span>
    <i class="material-icons">wb_sunny</i>
</a>
<a class="sticky-mysearch" href="<%= erp_hkstore.capacity_profile_path %>">
    <span>Hồ Sơ Năng Lực</span>
    <i class="material-icons">assignment_ind</i>
</a>
<a class="sticky-mysearch" href="">
    <span>Yêu Cầu Báo Giá</span>
    <i class="material-icons">assignment</i>
</a>
