<div class="popup-screen">
    <div class="popup-position">
        <div class="popup-container popup-small">
            <div class="popup-html">
                <div class="popup-header">
                    <span><i class="fa fa-opencart"></i>Giỏ Hàng</span>
                    <a class="popup-close" data-target="popup-close" data-popup-close="#popup-mycart">&times;</a>
                </div>
                <div class="popup-content">
                    <div class="cart-header">
                        <div class="notification gray no-items">
                            <i class="fa fa-shopping-cart info-icon"></i>
                            <p>Giỏ hàng hiện tại của bạn đang trống.</p>
                        </div>
                        <div class="has-items">
                            <div class="notification gray ">
                                <p>Hiện có <span class="text-color">
                                    <span id="scartcount">0</span> sản phẩm </span> trong giỏ hàng.</p>
                            </div>
                            <table class="table table-striped list-cart">
                                <tbody>
                                </tbody>
                            </table>
                            <div class="cart-bottom">
                                <table class="table table-striped">
                                    <tr>
                                        <td class="text-left">
                                            <strong>Thành Tiền</strong>
                                        </td>
                                        <td class="text-right">
                                            <span class='money'>10,000,000đ</span>
                                        </td>
                                    </tr>
                                </table>
                                <p class="text-center">
                                    <a href="" class="btn btn-view-cart">
                                        <strong>Xem giỏ hàng</strong>
                                    </a>
                                    <a href="" class="btn btn-checkout">
                                        <strong>Đặt hàng</strong>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>