<div class="popup-screen">
    <div class="popup-position">
        <div class="popup-container popup-small">
            <div class="popup-html">
                <div class="popup-header">
                    <span><i class="fa fa-user"></i>Tài Khoản Của Tôi</span>
                    <a class="popup-close" data-target="popup-close" data-popup-close="#popup-myaccount">&times;</a>
                </div>
                <div class="popup-content">
                    <div class="form-content">
                        <div class="row space">
                            <div class="col col-sm-4 col-xs-6 txt-center">
                                <div class="form-box">
                                    <a class="account-url" href="">
                                        <span class="ico ico-32 ico-sm">
                                            <i class="material-icons">
                                            lock_open</i>
                                        </span><br>
                                        <span class="account-txt">Đăng nhập</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-xs-6 txt-center">
                                <div class="form-box">
                                    <a class="account-url" href="">
                                        <span class="ico ico-32 ico-sm">
                                          <i class="material-icons">how_to_reg</i>
                                        </span><br>
                                        <span class="account-txt">Đăng ký</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-xs-6 txt-center">
                                <div class="form-box">
                                    <a class="account-url" href="/cart">
                                        <span class="ico ico-32 ico-sm"><i class="material-icons">
                                        add_shopping_cart</i></span><br>
                                        <span class="account-txt">Giỏ hàng của tôi</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-xs-6 txt-center">
                                <div class="form-box">
                                    <a class="account-url" href="/cart">
                                        <span class="ico ico-32 ico-sm"><i class="material-icons">
                                        add_shopping_cart</i></span><br>
                                        <span class="account-txt">Giỏ hàng của tôi</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-xs-6 txt-center">
                                <div class="form-box">
                                    <a class="account-url" href="/account">
                                      <span class="ico ico-32 ico-sm"><i class="material-icons">history</i></span><br>
                                      <span class="account-txt">Lịch sử mua hàng</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-xs-6 txt-center">
                                <div class="form-box">
                                    <a class="account-url" href="/account">
                                        <span class="ico ico-32 ico-sm">
                                            <i class="material-icons">supervisor_account</i>
                                        </span><br>
                                        <span class="account-txt">Thông tin tài khoản</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>