<div class="alert alert-success fadeOut">
  <i class="fa fa-check-circle"></i>
  Success: You have added <a href="">Kielbasa hamburg</a> to your <a href="">product comparison</a>!
  <button type="button" class="fa fa-close close"></button>
</div>