<div id="previewModal" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"> Added to cart successfully. What is next?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9 col-sm-6 col-xs-12 cart-popup-left">
                        <div class="product-image col-lg-5">
                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/product&amp;product_id=66"><img src="http://opencart.opencartworks.com/themes/so_techcity/layout2/image/cache/catalog/demo/product/13-270x270.jpg" alt="Jalapeno dolore" title="Jalapeno dolore"></a>
                        </div>
                        <div class="cart-popup-info col-lg-7">
                            <h3 class="product-name">Jalapeno dolore</h3>
                            <div class="price">
                                <span class="price-quantity">2 x</span>
                                <span class="price-new">$98.00 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 cart-popup-right">
                        <div class="cart-popup-action">
                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=checkout/checkout" class="btn btn-checkout">Checkout</a>
                            <div class="cart-popup-imgbottom"> Order subtotal <span class="previewCartCheckout-price">$196.00</span> <span class="cart-popup-total">Your cart contains 2 items</span>
                            </div>
                            <a href="#" class="btn btn-view-cart inverse" data-dismiss="modal" aria-label="Close">Continue shopping</a>
                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=checkout/cart" class="btn btn-view-cart inverse"> View Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>