<div class="container">
    <div class="row">
        <div class="navbar-logo col-xl-2 col-lg-3 d-none d-lg-block">
            <div class="site-header-logo title-heading" itemscope itemtype="http://schema.org/Organization">
                <a href="<%= erp_hkstore.root_path %>" itemprop="url" class="site-header-logo-image">
                    <img src="/hkstore/img/logo-hkstore.svg"
                          srcset="/hkstore/img/logo-hkstore.svg"
                          alt=""
                          itemprop="logo">
                </a>
            </div>
        </div>
        <div class="header-search col-xl-7 col-lg-5 col-12 d-none d-lg-block">
            <div class="search-header-w">
                <div class="btn btn-search-mobi hidden">
                    <i class="fa fa-search"></i>
                </div>
                <div class="form_search">
                    <form class="formSearch" action="/search" method="get">
                        <input type="hidden" name="type" value="product">
                        <input class="form-control" type="search" name="q" value="" placeholder="Nhập từ khóa hoặc mã sản phẩm để tìm kiếm... " autocomplete="off" />
                        <button class="btn btn-search" type="submit">
                            <span class="btnSearchText hidden">Tìm Kiếm</span>
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="middle-right col-xl-3 col-lg-4 d-none d-lg-block">
            <ul>
                <li>
                    <div class="widget_text pull-right">
                        <div class="header-login">
                            <span class="icon-user">
                                <i class="material-icons">person_outline</i>
                            </span>
                            <span class="form-login">
                                <span class="wellcome">Kiểm tra đơn hàng</span><br>
                                <span class="login">
                                    <a href="" id="customer_login_link">Đăng Nhập</a>
                                    /
                                    <a href="" id="customer_register_link">Đăng Ký</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="minicart-header">
                        <a href="" class="site-header__carts shopcart dropdown-toggle font-ct">
                            <span class="cart_ico">
                                <i class="material-icons">add_shopping_cart</i>
                                <span id="CartCount" class="cout_cart font-ct">0
                                    <span class="hidden">item -</span>
                                </span>
                            </span>
                            <span class="cart_info">
                                <span class="cart-title">
                                    <span class="title-cart">Giỏ Hàng</span>
                                </span>
                                <span class="cart-total">
                                    <span id="CartTotal"  class="total_cart">
                                        <span class='money'>10,000,000đ</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <div class="block-content dropdown-content" style="display: none;">
                            <div class="no-items">
                                <p>Giỏ hàng hiện tại đang trống.</p>
                                <p class="text-continue btn">
                                    <a href="">Tiếp tục mua hàng</a>
                                </p>
                            </div>
                            <div class="block-inner has-items">
                                <div class="head-minicart">
                                    <span class="label-products">Tên sản phẩm</span>
                                    <span class="label-price hidden">Giá</span>
                                </div>
                                <ol id="minicart-sidebar" class="mini-products-list"></ol>
                                <div class="bottom-action actions">
                                    <div class="price-total-w">
                                        <span class="label-price-total">TỔNG TIỀN:</span>
                                            <span class="price-total">
                                                <span class="price">
                                                <span class='money'>0 VNĐ</span>
                                            </span>
                                        </span>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div class="button-wrapper">
                                        <a href="" class="link-button btn-gotocart" title="">Xem giỏ hàng</a>
                                        <a href="" class="link-button btn-checkout" title="">Đặt hàng</a>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>