<div class="container">
    <div class="row">
        <div class="header-top-left col-xl-12 col-lg-12 d-none d-lg-block">
            <div class="wellcome hidden-xs hidden-sm">
                <span>Hoang Khang Incotech xin kính chào Quý khách hàng!</span>
            </div>
            <div class="toplink-item email hidden-xs">
                <i class="fa fa-envelope"></i>
                <%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'Email: kinhdoanh@hoangkhang.com.vn' %>
            </div>
            <div class="toplink-item hotline hidden-xs">
                <i class="fa fa-phone"></i>
                <%= link_to 'Số Điện Thoại: (028) 2212 9454', 'tel:(028)22129454' %>
            </div>                                    
        </div>                
    </div>
</div>