<div class="container">
    <div class="row">
        <div class="copyright col-xl-12 col-md-12">
            <address>
                Bản quyền &copy; 2008 ~ 2018 <strong><%= link_to 'Hoang Khang Incotech', 'http://store.hoangkhang.com.vn', title: '', target: '_blank' %></strong>. Đơn vị chủ quản: <strong>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang</strong>.<br>
                GPĐKKD số 0306146736 do Sở Kế Hoạch Và Đầu Tư cấp lần đầu ngày 06/08/2008.
            </address>
        </div>
    </div>
</div>