<footer data-section-id="footer" data-section-type="header-section" class="site-footer clearfix">
    <div class="footer-1" style="background: #f5f5f5">
        <div class="footer-top">
            <%= render "erp/hkstore/frontend/modules/footer/top" %>
        </div>
        <div class="footer-center">
            <%= render "erp/hkstore/frontend/modules/footer/center" %>
        </div>
        <div class="footer-bottom" style="background:#222222">
            <%= render "erp/hkstore/frontend/modules/footer/bottom" %>
        </div>
        <div id="goToTop" class="hidden-xs"><span></span></div>
    </div>
</footer>