<header id="header" class="header header-style1">
    <div class="header-top compad_hidden d-none d-lg-block">
        <%= render "erp/hkstore/frontend/modules/header/top" %>
    </div>
    <div class="bg-header">
        <div class="header-center">
            <%= render "erp/hkstore/frontend/modules/header/center" %>
        </div>
        <div class="header-mobile d-lg-none">
            <%= render "erp/hkstore/frontend/modules/header/mobile" %>
        </div>
        <div class="header-bottom compad_hidden">
            <%= render "erp/hkstore/frontend/modules/header/bottom" %>
        </div>
    </div>
</header>