<header id="header" class=" variant typeheader-2">
    <div class="header-top hidden-compact">
        <%= render 'erp/hkstore/frontend/modules/header/top' %>
    </div>
    <div class="header-bottom ">
        <%= render 'erp/hkstore/frontend/modules/header/bottom' %>
    </div>
</header>