<div id="socialLogin"></div>
<div class="modal fade in" id="so_sociallogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog block-popup-login">
        <a href="javascript:void(0)" title="Close" class="close close-login fa fa-times-circle" data-dismiss="modal"></a>
        <div class="tt_popup_login"><strong>Sign in Or Register</strong></div>
        <div class="block-content">
            <div class=" col-reg registered-account">
                <div class="block-content">
                    <form class="form form-login" action="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=account/login" method="post" id="login-form">
                        <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                            <div class="field email required email-input">
                                <div class="control">
                                    <input name="email" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" placeholder="E-mail Address" />
                                </div>
                            </div>
                            <div class="field password required pass-input">
                                <div class="control">
                                    <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" placeholder="Password" />
                                </div>
                            </div>
                            <div class=" form-group">
                                <label class="control-label">Login with your social account</label>
                                <div>
                                    <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=http%3A%2F%2Fopencart.opencartworks.com%2Fthemes%2Fso_techcity%2Flayout2%2Findex.php%3Froute%3Dextension%2Fmodule%2Fso_sociallogin%2FGoogleLogin&client_id=21690390667-tco9t3ca2o89d3sshkb2fmppoioq5mfq.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&access_type=offline&approval_prompt=force" class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google fa-fw" aria-hidden="true"></i></a>
                                    <a href="https://www.facebook.com/v2.4/dialog/oauth?client_id=442675926063537&state=adb99426461707837777d3157d6164f1&response_type=code&sdk=php-sdk-5.6.3&redirect_uri=http%3A%2F%2Fopencart.opencartworks.com%2Fthemes%2Fso_techcity%2Flayout2%2Findex.php%3Froute%3Dextension%2Fmodule%2Fso_sociallogin%2FFacebookLogin&scope=public_profile%2Cemail" class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=extension/module/so_sociallogin/TwitterLogin" class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=extension/module/so_sociallogin/LinkedinLogin" class="btn btn-social-icon btn-sm btn-linkdin"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="secondary ft-link-p"><a class="action remind" href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=account/forgotten"><span>Forgot Your Password?</span></a></div>
                            <div class="actions-toolbar">
                                <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>Login</span></button></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-reg login-customer">
                <h2>NEW HERE?</h2>
                <p class="note-reg">Registration is free and easy!</p>
                <ul class="list-log">
                    <li>Faster checkout</li>
                    <li>Save multiple shipping addresses</li>
                    <li>View and track orders and more</li>
                </ul>
                <a class="btn-reg-popup" title="Register" href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=account/register">Create an account</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>