<div id="so-groups" class="right so-groups-sticky hidden-xs" style="top: 196px">
    <a class="sticky-categories" data-target="popup" data-popup="#popup-categories"><span>Categories</span><i class="fa fa-align-justify"></i></a>
    <a class="sticky-mycart" data-target="popup" data-popup="#popup-mycart"><span>Cart</span><i class="fa fa-shopping-cart"></i></a>
    <a class="sticky-myaccount" data-target="popup" data-popup="#popup-myaccount"><span>Account</span><i class="fa fa-user"></i></a>
    <a class="sticky-mysearch" data-target="popup" data-popup="#popup-mysearch"><span>Search</span><i class="fa fa-search"></i></a>
    <a class="sticky-recent" data-target="popup" data-popup="#popup-recent"><span>Recent View</span><i class="fa fa-recent"></i></a>
    <div class="popup popup-categories popup-hidden" id="popup-categories">
        <div class="popup-screen">
            <div class="popup-position">
                <div class="popup-container popup-small">
                    <div class="popup-header">
                        <span><i class="fa fa-align-justify"></i>All Categories</span>
                        <a class="popup-close" data-target="popup-close" data-popup-close="#popup-categories">&times;</a>
                    </div>
                    <div class="popup-content">
                        <div class="nav-secondary">
                            <ul>
                                <li>
                                    <span class="nav-action">
                                        <i class="fa fa-plus more"></i>
                                        <i class="fa fa-minus less"></i>
                                    </span>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20"><i class="fa fa-chevron-down nav-arrow"></i>Accessories</a>
                                    <ul class="level-2">
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20_67"><i class="fa fa-chevron-right flip nav-arrow"></i>Bathroom</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20_68"><i class="fa fa-chevron-right flip nav-arrow"></i>Bedroom</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20_27"><i class="fa fa-chevron-right flip nav-arrow"></i>Decor</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20_65"><i class="fa fa-chevron-right flip nav-arrow"></i>Furniture</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20_26"><i class="fa fa-chevron-right flip nav-arrow"></i>Living room</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=20_66"><i class="fa fa-chevron-right flip nav-arrow"></i>Theid cupensg</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=18"><i class="fa fa-chevron-down nav-arrow"></i>Electronics</a>
                                </li>
                                <li>
                                    <span class="nav-action">
                                        <i class="fa fa-plus more"></i>
                                        <i class="fa fa-minus less"></i>
                                    </span>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24"><i class="fa fa-chevron-down nav-arrow"></i>Macbook Collection</a>
                                    <ul class="level-2">
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_74"><i class="fa fa-chevron-right flip nav-arrow"></i>Blazers</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_75"><i class="fa fa-chevron-right flip nav-arrow"></i>Dresses</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_85"><i class="fa fa-chevron-right flip nav-arrow"></i>Jackets</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_114"><i class="fa fa-chevron-right flip nav-arrow"></i>Jeans</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_84"><i class="fa fa-chevron-right flip nav-arrow"></i>Jumpsuits</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_73"><i class="fa fa-chevron-right flip nav-arrow"></i>Knitwear</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=24_76"><i class="fa fa-chevron-right flip nav-arrow"></i>Outerwear</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="nav-action">
                                        <i class="fa fa-plus more"></i>
                                        <i class="fa fa-minus less"></i>
                                    </span>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=17"><i class="fa fa-chevron-down nav-arrow"></i>Smartphone</a>
                                    <ul class="level-2">
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=17_110"><i class="fa fa-chevron-right flip nav-arrow"></i>Deserunt mollit</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=17_109"><i class="fa fa-chevron-right flip nav-arrow"></i>Duis aute</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=17_111"><i class="fa fa-chevron-right flip nav-arrow"></i>Laudantium</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=17_108"><i class="fa fa-chevron-right flip nav-arrow"></i>Reprehenderit </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="nav-action">
                                        <i class="fa fa-plus more"></i>
                                        <i class="fa fa-minus less"></i>
                                    </span>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57"><i class="fa fa-chevron-down nav-arrow"></i>Smartwatch</a>
                                    <ul class="level-2">
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57_78"><i class="fa fa-chevron-right flip nav-arrow"></i>Cream</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57_80"><i class="fa fa-chevron-right flip nav-arrow"></i>Foundation</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57_79"><i class="fa fa-chevron-right flip nav-arrow"></i>Highlighter</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57_81"><i class="fa fa-chevron-right flip nav-arrow"></i>Lipsticks</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57_82"><i class="fa fa-chevron-right flip nav-arrow"></i>Primer</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=57_77"><i class="fa fa-chevron-right flip nav-arrow"></i>Setting Prays</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="nav-action">
                                        <i class="fa fa-plus more"></i>
                                        <i class="fa fa-minus less"></i>
                                    </span>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33"><i class="fa fa-chevron-down nav-arrow"></i>TV &amp; Audio</a>
                                    <ul class="level-2">
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_113"><i class="fa fa-chevron-right flip nav-arrow"></i>Accessories</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_59"><i class="fa fa-chevron-right flip nav-arrow"></i>Apple</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_112"><i class="fa fa-chevron-right flip nav-arrow"></i>Consectetur</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_60"><i class="fa fa-chevron-right flip nav-arrow"></i>Dell</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_64"><i class="fa fa-chevron-right flip nav-arrow"></i>Esdipiscing</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_62"><i class="fa fa-chevron-right flip nav-arrow"></i>Scanners</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_63"><i class="fa fa-chevron-right flip nav-arrow"></i>Sony</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=33_61"><i class="fa fa-chevron-right flip nav-arrow"></i>Toshiba</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=102"><i class="fa fa-chevron-down nav-arrow"></i>TV &amp; Entertainment</a>
                                </li>
                                <li>
                                    <span class="nav-action">
                                        <i class="fa fa-plus more"></i>
                                        <i class="fa fa-minus less"></i>
                                    </span>
                                    <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25"><i class="fa fa-chevron-down nav-arrow"></i>Computer</a>
                                    <ul class="level-2">
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25_35"><i class="fa fa-chevron-right flip nav-arrow"></i>Shoes</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25_95"><i class="fa fa-chevron-right flip nav-arrow"></i>Smartphone</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25_31"><i class="fa fa-chevron-right flip nav-arrow"></i>Accessories</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25_30"><i class="fa fa-chevron-right flip nav-arrow"></i>Clothing</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25_28"><i class="fa fa-chevron-right flip nav-arrow"></i>iPad</a>
                                        </li>
                                        <li>
                                            <a href="http://opencart.opencartworks.com/themes/so_techcity/layout2/index.php?route=product/category&amp;path=25_32"><i class="fa fa-chevron-right flip nav-arrow"></i>Smartwatch</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup-mycart popup-hidden" id="popup-mycart">
        <%= render 'erp/hkstore/frontend/modules/tools/cart' %>
    </div>
    <div class="popup popup-myaccount popup-hidden" id="popup-myaccount">
        <%= render 'erp/hkstore/frontend/modules/tools/account' %>
    </div>
    <div class="popup popup-mysearch popup-hidden" id="popup-mysearch">
        <%= render 'erp/hkstore/frontend/modules/tools/search' %>
    </div>
    <div class="popup popup-recent popup-hidden" id="popup-recent">
        <%= render 'erp/hkstore/frontend/modules/tools/recent' %>
    </div>
</div>