<% content_for :title do %>
    <%= t('.dashboard') %>
<% end %>
<div class="note note-info">
    <%= image_tag "/hoangkhang/images/img-dashboard.png", alt: "Hoàng Khang Incotech", class: "img-dashboard" %>
</div>