<div id="shopify-section-1526368282151" class="shopify-section home-section">
    <div class="widget-logolist">
        <div class="container">
            <div class="wrap">
                <div class="ss-carousel ss-owl logo-bars">
                    <div class="product-layout owl-carousel" data-nav="true" data-margin="30" data-autoplay="false" data-autospeed="10000" data-speed="300" data-column1="6" data-column2="5" data-column3="4" data-column4="3" data-column5="2">
                        <% (0..11).each do |brand| %>
                            <div class="logo-item">
                                <%= link_to image_tag('/hkstore/img/brand-logo.jpg', alt: '', title: '', class: 'img-responsive'), '', title: '', class: 'logo-bar__link' %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>