<div id="shopify-section-1526543904826" class="shopify-section home-section clearfix">
    <div class="widget-collection">
        <div class="container">
            <div class="home-title">
                <h2>Danh Mục Nổi Bật</h2>
                <%= link_to 'Xem tất cả', '', title: '', class: 'viewall pull-right' %>
            </div>
            <div class="collections">
                <div class="ss-carousel ss-owl">
                    <div class="owl-carousel" data-dots="false" data-nav="false" data-margin="30" data-column1="5" data-column2="5" data-column3="4" data-column4="3" data-column5="2">
                        <% (0..8).each do |category| %>
                            <div class="item">
                                <div class="collect ">
                                    <a href="" class="collection-item" title="">
                                        <img class="collection-img img-responsive lazyload" data-sizes="auto" src="/hkstore/img/hot-categories.jpg" alt="" data-src="/hkstore/img/hot-categories.jpg"/>
                                    </a>
                                    <div class="collection-name">
                                        <a href="" class="collection clearfix">Máy Tính Xách Tay</a>
                                    </div>
                                </div>
                            </div>
                        <% end %>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>