<div id="shopify-section-1527301767427" class="shopify-section home-section">
    <div class="container">
        <div class="widget-services-v1 home-policy">
            <div class="services-inline">
                <h3 class="title-home hidden">Trang Chủ</h3>
                <div class="ss-carousel ss-owl widget-sevicer">
                    <div class="product-layout owl-carousel" data-dots="false" data-nav="false" data-margin="30" data-autoplay="true" data-autospeed="10000" data-speed="300" data-column1="4" data-column2="4" data-column3="3" data-column4="2" data-column5="2">
                        <div class="policy policy0">
                            <div class="policy_inner">
                                <div class="service-ico">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="service-info">
                                    <h2 class="title">Free Delivery</h2>
                                    <p class="des">From $59.89</p>
                                </div>
                            </div>
                        </div>
                        <div class="policy policy1">
                            <div class="policy_inner">
                                <div class="service-ico">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="service-info">
                                    <h2 class="title">Support 24/7</h2>
                                    <p class="des">Online 24 hours</p>
                                </div>
                            </div>
                        </div>
                        <div class="policy policy2">
                            <div class="policy_inner">
                                <div class="service-ico">
                                    <i class="fa fa-refresh"></i>
                                </div>
                                <div class="service-info">
                                    <h2 class="title">Free return</h2>
                                    <p class="des">365 a day</p>
                                </div>
                            </div>
                        </div>
                        <div class="policy policy3">
                            <div class="policy_inner">
                                <div class="service-ico">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="service-info">
                                    <h2 class="title">Payment Method</h2>
                                    <p class="des">Secure payment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>