<div id="shopify-section-1527310410724" class="shopify-section home-section">
    <link href="/hkstore/css/ss_slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/hkstore/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="/hkstore/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <div class="widget-slideshow widget-slideshow1">
        <div class="container">
            <div class="row">
                <div class="col-slider col-xl-8 col-12 col_2">
                    <div class="tp-banner-container" data-section-id="1527310410724" data-section-type="slideshow-section" style="visibility: hidden; opacity: 0; height: 440px;">
                        <span class="slider-preload" style="display: block;"></span>
                        <div class="tp-banner-1527310410724" data-speed="16000">
                            <ul>
                                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-link="" data-target="_blank">
                                    <img src="/hkstore/img/files/bn-slide2_1090x450.png" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                                </li>
                                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-link="" data-target="_blank">
                                    <img src="/hkstore/img/files/bn-slide1_1090x450.png" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                                </li>
                                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-link="" data-target="_blank">
                                    <img src="/hkstore/img/files/bn-slide3_1090x450.png" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
                <div class="image-ad col-xl-4 d-none d-xl-block">
                    <div class="bannerstop banners">
                        <div class="row">
                            <div class="item1 col-xl-6 col-12">
                                <a href="" title="ss-super-market">
                                    <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="ss-super-market" data-src="/hkstore/img/files/id2-bn1.png" />
                                </a>
                                <a href="" title="ss-super-market">
                                    <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="ss-super-market" data-src="/hkstore/img/files/id2-bn2.png" />
                                </a>
                            </div>
                            <div class="item2 col-xl-6 col-12">
                                <a href="" title="ss-super-market">
                                    <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="ss-super-market" data-src="/hkstore/img/files/id2-bn3.png" />
                                </a>
                                <a href="" title="ss-super-market">
                                    <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="ss-super-market" data-src="/hkstore/img/files/id2-bn4.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var revapi;
        jQuery(document).ready(function($) {
            //$(window).load(function() {
            $('.slider-preload').hide();
            $('.tp-banner-container').css({
                'visibility': 'visible',
                'opacity': '1'
            });
            revapi = $('.tp-banner-1527310410724').revolution({
                delay: 16000,
                startwidth: 1090,
                startheight: 440,
                startWithSlide: 0,
                hideThumbs: 10,
                fullWidth: "off",
                navigationType: "bullet",
                navigationStyle: "round",
                navigationArrows: "solo",
                fullScreen: 'off',
                hideTimerBar: 'off'
            })
            //})
        })
    </script>
</div>