@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #3f51b5; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-2 {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  @media (min-width: 767px) {
  .typeheader-2 .d-flex {
    display: flex !important; }
  .typeheader-2 .header-top {
    display: flex; } }
  .typeheader-2 .search-w {
    width: 100%; }
  .typeheader-2 .navbar-logo {
    padding: 35px 25px 0 30px;
    border-right: 1px solid #e5e5e5;
    min-width: 260px; }
  .typeheader-2 .navbar-logo img {
    max-width: unset; }
  .typeheader-2 .btn-group .btn-link {
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #222; }
  .typeheader-2 ul.top-link {
    display: inline-flex; }
  .typeheader-2 ul.top-link > li {
    min-width: 95px;
    padding: 20px 0 10px 0;
    border-left: 1px solid #e1e1e1;
    color: #242626;
    text-align: center; }
  .typeheader-2 ul.top-link > li i.ico-main {
    font-size: 26px;
    color: #111;
    position: relative;
    top: 2px; }
  .typeheader-2 ul.top-link > li .text-item {
    display: inline-block;
    width: 100%;
    color: #111;
    font-size: 12px; }
  .typeheader-2 ul.top-link > li.wishlist i {
    font-size: 22px; }
  .typeheader-2 ul.top-link > li.wishlist a {
    position: relative;
    top: 4px; }
  .typeheader-2 ul.top-link > li.wishlist b {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    top: -14px;
    left: 14px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background-color: #111; }
  .typeheader-2 ul.top-link > li.lang-curr {
    padding-top: 23px;
    border-radius: 0; }
  .typeheader-2 ul.top-link > li.lang-curr .text-item {
    margin-top: 15px; }
  .typeheader-2 ul.top-link > li:hover {
    background-color: #f5f5f5; }
  .typeheader-2 .header-middle {
    clear: both;
    padding: 25px 0; }
  .typeheader-2 .header-bottom {
    background-color: #f4f4f4;
    border-top: 1px solid #e1e1e1; }
  .typeheader-2 .search-header-w {
    width: 100%;
    padding: 25px 35px; }
  .typeheader-2 #sosearchpro .search {
    position: relative;
    margin: 0;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 5px; }
  .typeheader-2 #sosearchpro .search .select_category {
    border: none;
    width: 190px;
    background-color: #ebebeb;
    border-right: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .typeheader-2 #sosearchpro .search .select_category select {
    height: 48px;
    line-height: 48px;
    color: #171717;
    font-size: 13px;
    padding: 0 15px; }
    .typeheader-2 #sosearchpro .search .select_category select:hover {
      cursor: pointer; }
  .typeheader-2 #sosearchpro .search .select_category.icon-select:after {
    color: #171717;
    font-size: 13px;
    line-height: 48px;
    right: 0;
    left: auto;
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    height: 100%;
    width: 25px; }
  .typeheader-2 #sosearchpro .search button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 47px;
    text-align: center;
    line-height: 45px;
    padding: 0 20px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px; }
  .typeheader-2 #sosearchpro .search button i {
    font-size: 16px;
    color: #707070; }
  .typeheader-2 #sosearchpro .search button span {
    display: none; }
  .typeheader-2 #sosearchpro .search input {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    z-index: 0;
    height: 48px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
    background-color: #fff;
    color: #b8b8b8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .typeheader-2 #sosearchpro .search input::-moz-placeholder {
    color: #b8b8b8;
    opacity: 1; }
  .typeheader-2 #sosearchpro .search input:-ms-input-placeholder {
    color: #b8b8b8; }
  .typeheader-2 #sosearchpro .search input::-webkit-input-placeholder {
    color: #b8b8b8; }
  .typeheader-2 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-2 .shopping_cart {
    padding-right: 0;
    margin-right: 0; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    font-size: 26px;
    position: relative;
    top: 2px;
    color: #222; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    font-size: 12px;
    color: #111;
    display: inline-block;
    width: 100%; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-2 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
    display: none; }
    .typeheader-2 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      position: absolute;
      top: -5px;
      left: 27px;
      font-size: 12px;
      color: #fff;
      background-color: #cd0c22; }
  .typeheader-2 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto;
    color: #666; }
  .typeheader-2 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-2 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.id2-item {
    display: none; }
