.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_2m07{background-color:rgba(37,37,37,1); overflow:hidden;}

