<div class="main-content" id="MainContent">
    <section id="breadcrumbs" class=" breadcrumbbg">
        <div class="breadcrumbwrapper">
            <div class="container">
                <nav>
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemlistelement" itemscope itemtype="http://schema.org/ListItem">
                            <%= link_to '<span itemprop="name">Trang Chủ</span>'.html_safe, erp_hkstore.root_path, itemprop: 'item', title: '' %>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="active" itemprop="itemlistelement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item">
                                <span itemprop="name">Về Hoàng Khang Incotech</span>
                            </span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <div id="shopify-section-template-about" class="shopify-section">
        <div class="about-us style2">
            <div class="container page-about">
                <div class="row">
                    <div class="col-md-12 welcome-about-us banners">
                        <div class="content-about-us">
                            <a href="<%= erp_hkstore.about_us_path %>" title="ss-super-market">
                                <div class="image-about-us col-md-12 col-sm-12">
                                    <%= image_tag "/hkstore/img/banner-about-01.jpg", alt: "", title: "", class: "img-respon" %>
                                </div>
                            </a>
                            <div class="content-about col-md-12 col-sm-12">
                                <div class="title-about-us">
                                    <h2>Hello, We are SuperMarket Established 2018 - Paris Fashion Show</h2>
                                </div>
                                <div class="des-about-us">
                                    <p>Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth
                                        talk. Mogul talk. Cloth talk. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. In life you have to take the trash out,
                                        if you have trash in your life, take it out, throw it away, get rid of it, major key. Surround yourself with angels.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_wrapper"> </div>
            </div>
            <div class="about-service">
                <div class="container">
                    <div class="wrap">
                        <div class="row">
                            <div class="item col-md-4 col-xs-12">
                                <div class="item_wrap">
                                    <div class="image service">
                                        <img class=" lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//cdn.shopify.com/s/files/1/0009/3339/6598/t/4/assets/Forma_11.png?4045678265593455716">
                                    </div>
                                    <h3>Strategy & Marketing</h3>
                                    <div class="des">Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth
                                        talk.</div>
                                </div>
                            </div>
                            <div class="item col-md-4 col-xs-12">
                                <div class="item_wrap">
                                    <div class="image service">
                                        <img class=" lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//cdn.shopify.com/s/files/1/0009/3339/6598/t/4/assets/Forma_1.png?4045678265593455716">
                                    </div>
                                    <h3>interaction design</h3>
                                    <div class="des">Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth
                                        talk.</div>
                                </div>
                            </div>
                            <div class="item col-md-4 col-xs-12">
                                <div class="item_wrap">
                                    <div class="image service">
                                        <img class=" lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//cdn.shopify.com/s/files/1/0009/3339/6598/t/4/assets/Shape_1.png?4045678265593455716">
                                    </div>
                                    <h3>WEb Development</h3>
                                    <div class="des">Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth
                                        talk. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-policy banners">
                <div class="container">
                    <div class="wrap">
                        <div class="row">
                            <div class="item col-md-4 col-xs-12">
                                <div class="item_wrap">
                                    <div class="image service">
                                        <a href="#" title="ss-super-market">                        
                                            <img class="img-responsive lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="ss-super-market" data-src="//cdn.shopify.com/s/files/1/0009/3339/6598/files/about-1.jpg?v=1527135771" />                                    
                                        </a>
                                        <h3>WHAT WE REALLY DO?</h3>
                                        <div class="des">Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now !</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-md-4 col-xs-12">
                                <div class="item_wrap">
                                    <div class="image service">
                                        <a href="#" title="ss-super-market">                        
                                            <img class="img-responsive lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="ss-super-market" data-src="//cdn.shopify.com/s/files/1/0009/3339/6598/files/about-2.jpg?v=1527135780" />                        
                                        </a>
                                        <h3>OUR VERSION</h3>
                                        <div class="des">Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now !</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-md-4 col-xs-12">
                                <div class="item_wrap">
                                    <div class="image service">
                                        <a href="#" title="ss-super-market">
                                            <img class="img-responsive lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="ss-super-market" data-src="//cdn.shopify.com/s/files/1/0009/3339/6598/files/about-3.jpg?v=1527135787" />                      
                                        </a>
                                        <h3>HISTORY OF BEGINNING</h3>
                                        <div class="des">Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now ! </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <style>
            .main-content {
                padding-bottom: 0 !important;
            }
        </style>
    </div>
</div>