<div class="main-content" id="MainContent">
    <section id="breadcrumbs" class=" breadcrumbbg">
        <div class="breadcrumbwrapper">
            <div class="container">
                <nav>
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemlistelement" itemscope itemtype="http://schema.org/ListItem">
                            <%= link_to '<span itemprop="name">Trang Chủ</span>'.html_safe, erp_hkstore.root_path, itemprop: 'item', title: '' %>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="active" itemprop="itemlistelement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item">
                                <span itemprop="name">Hồ Sơ Năng Lực</span>
                            </span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <div class="page--information">
        <div class="container">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
                <div class="section-header">
                    <h1 class="page-title">Hồ Sơ Năng Lực Hoang Khang Incotech</h1>
                </div>
                <div class="rtes">
                    <div class="page_support24">
                        <div class="title-box">
                            <h1 class="text-center text-uppercase title-under">Danh Sách Phòng Ban</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">
                                    Trở thành nhà cung cấp giải pháp và dịch vụ chuyên nghiệp hàng đầu tại Việt Nam thông qua việc mang công nghệ tiên tiến có chọn lọc trên thế giới vào thị trường Việt Nam, giúp khách hàng thỏa mãn nhu cầu khai thác ứng dụng công nghệ hiệu quả, đem lại giá trị tối đa, gia tăng cơ hội phát triển vươn tầm quốc tế.
                                    Trở thành nhà cung cấp giải pháp và dịch vụ chuyên nghiệp hàng đầu tại Việt Nam thông qua việc mang công nghệ tiên tiến có chọn lọc trên thế giới vào thị trường Việt Nam, giúp khách hàng thỏa mãn nhu cầu khai thác ứng dụng công nghệ hiệu quả, đem lại giá trị tối đa.
                                </p>
                            </div>
                        </div>
                        <div class="divider divider--lg"> </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="media-box-link" onclick="location.href=''">
                                    <div class="media-box-link--figure text-center">
                                        <span class="icon icon-assignment fa fa-opencart"></span>
                                    </div>
                                    <div class="media-box-link--content">
                                        <h4 class="font22">Phòng Kinh Doanh</h4>
                                        <p class="text-justify">
                                            Với phương châm tư vấn và thiết kế hạ tầng hệ thống mạng, đảm bảo hiệu quả và tối ưu cho khách hàng phù hợp với chi phí đầu tư và nhu cầu hoạt động kinh doanh.
                                            Chúng tôi cung cấp giải pháp và dịch vụ chuyên nghiệp theo tiêu chuẩn nền tảng hệ thống mạng của các thương hiệu Cisco, HPE, Allied Telesis, Commscope,...
                                        </p>
                                    </div>
                                    <div class="media-box-link--arrow">
                                        <span class="icon icon-arrow_forward fa fa-download"></span>
                                    </div>
                                </div>
                                <div class="divider divider--md1"><br></div>
                                <div class="media-box-link" onclick="location.href=''">
                                    <div class="media-box-link--figure text-center">
                                        <span class="icon icon-comment fa fa-chart-bar"></span>
                                    </div>
                                    <div class="media-box-link--content">
                                        <h4 class="font22">Phòng Kế Toán</h4>
                                        <p class="text-justify">
                                            Với phương châm tư vấn và thiết kế hạ tầng hệ thống mạng, đảm bảo hiệu quả và tối ưu cho khách hàng phù hợp với chi phí đầu tư và nhu cầu hoạt động kinh doanh.
                                            Chúng tôi cung cấp giải pháp và dịch vụ chuyên nghiệp theo tiêu chuẩn nền tảng hệ thống mạng của các thương hiệu Cisco, HPE, Allied Telesis, Commscope,...
                                        </p>
                                    </div>
                                    <div class="media-box-link--arrow">
                                        <span class="icon icon-arrow_forward fa fa-download"></span>
                                    </div>
                                </div>
                                <div class="divider divider--md1"><br></div>
                            </div>
                            <div class="col-md-6" onclick="location.href=''">
                                <div class="media-box-link">
                                    <div class="media-box-link--figure text-center">
                                        <span class="icon icon-drafts fa fa-laptop"></span>
                                    </div>
                                    <div class="media-box-link--content">
                                        <h4 class="font22">Phòng Kỹ Thuật</h4>
                                        <p class="text-justify">
                                            Với phương châm tư vấn và thiết kế hạ tầng hệ thống mạng, đảm bảo hiệu quả và tối ưu cho khách hàng phù hợp với chi phí đầu tư và nhu cầu hoạt động kinh doanh.
                                            Chúng tôi cung cấp giải pháp và dịch vụ chuyên nghiệp theo tiêu chuẩn nền tảng hệ thống mạng của các thương hiệu Cisco, HPE, Allied Telesis, Commscope,...
                                        </p>
                                    </div>
                                    <div class="media-box-link--arrow">
                                        <span class="icon icon-arrow_forward fa fa-download"></span>
                                    </div>
                                </div>
                                <div class="divider divider--md1"><br></div>
                                <!--  -->
                                <div class="media-box-link" onclick="location.href=''">
                                    <div class="media-box-link--figure text-center">
                                        <span class="icon icon-drafts fa fa-server"></span>
                                    </div>
                                    <div class="media-box-link--content">
                                        <h4 class="font22">Phòng Hạ Tầng Mạng</h4>
                                        <p class="text-justify">
                                            Với phương châm tư vấn và thiết kế hạ tầng hệ thống mạng, đảm bảo hiệu quả và tối ưu cho khách hàng phù hợp với chi phí đầu tư và nhu cầu hoạt động kinh doanh.
                                            Chúng tôi cung cấp giải pháp và dịch vụ chuyên nghiệp theo tiêu chuẩn nền tảng hệ thống mạng của các thương hiệu Cisco, HPE, Allied Telesis, Commscope,...
                                        </p>
                                    </div>
                                    <div class="media-box-link--arrow">
                                      <span class="icon icon-arrow_forward fa fa-download"></span>
                                    </div>
                                </div>
                                <div class="divider divider--md1"><br></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media-box-link" onclick="location.href=''">
                                    <div class="media-box-link--figure text-center">
                                        <span class="icon icon-drafts fa fa-terminal"></span>
                                    </div>
                                    <div class="media-box-link--content">
                                        <h4 class="font22">Phòng Phần Mềm</h4>
                                        <p class="text-justify">
                                            Với phương châm tư vấn và thiết kế hạ tầng hệ thống mạng, đảm bảo hiệu quả và tối ưu cho khách hàng phù hợp với chi phí đầu tư và nhu cầu hoạt động kinh doanh.
                                            Chúng tôi cung cấp giải pháp và dịch vụ chuyên nghiệp theo tiêu chuẩn nền tảng hệ thống mạng của các thương hiệu Cisco, HPE, Allied Telesis, Commscope,...
                                        </p>
                                    </div>
                                    <div class="media-box-link--arrow">
                                      <span class="icon icon-arrow_forward fa fa-download"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>