<div class="main-content" id="MainContent">
	<section id="breadcrumbs" class=" breadcrumbbg">
        <div class="breadcrumbwrapper">
            <div class="container">
                <nav>
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemlistelement" itemscope itemtype="http://schema.org/ListItem">
                            <%= link_to '<span itemprop="name">Trang Chủ</span>'.html_safe, erp_hkstore.root_path, itemprop: 'item', title: '' %>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="active" itemprop="itemlistelement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item">
                                <span itemprop="name">Liên Hệ</span>
                            </span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
	<div id="shopify-section-template-contact" class="shopify-section">
		<div class="container page-contact style1 no-padding">
			<div class="row">
				<div class="contact-form col-12">
					<div class="wrap">
						<h2 class="page-title">Liên Hệ</h2>
						<div class="contact-des"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare
							lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero </div>
						<div class="contact-form form-vertical">
							<form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
								<div class="row">
									<div class="col-12 col-sm-6"> <label class="hidden" for="ContactFormName">Your Name...</label> <input type="text" id="ContactFormName" name="contact[name]" placeholder="Your Name..."
										 value=""> </div>
									<div class="col-12 col-sm-6"> <label class="hidden" for="ContactFormEmail" class="">Your Email...</label> <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Your Email..."
										 autocorrect="off" autocapitalize="off" value="" class=""> </div>
								</div> <label class="hidden" for="ContactFormPhone">Your Phone Number...</label> <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="Your Phone Number..."
								 pattern="[0-9\-]*" value=""> <label class="hidden" for="ContactFormMessage">Message</label> <textarea rows="10" id="ContactFormMessage" placeholder="Message"
								 name="contact[body]"></textarea> <input type="submit" class="btn" value="Send Email"> </form>
						</div>
					</div>
				</div>
				<div class="info-contacts col-12">
					<div class="store-info">
						<div class="">
							<ul class="list-info row">
								<li class="item-info main-info col-md-4 col-sm-4 col-12">
									<div class="icon-contact"> <i class="fa fa-map-marker"></i> </div>
									<div class="info-content">
										<h2><a title="Main office" href="#">address</a></h2>
										<div class="des-info">100 S Manhattan St, Amarillo, TX 79104, US</div>
									</div>
								</li>
								<li class="item-info email-info col-md-4 col-sm-4 col-12">
									<div class="icon-contact"> <i class="fa fa-phone"></i> </div>
									<div class="info-content">
										<h2><a title="Main office" href="#">phone</a></h2>
										<div class="des-info">( +123 )4 567 890 - ( +123 )4 567 899</div>
									</div>
								</li>
								<li class="item-info phone col-md-4 col-sm-4 col-12">
									<div class="icon-contact"> <i class="fa fa-envelope"></i> </div>
									<div class="info-content">
										<h2>phone</h2>
										<div class="des-info">Marketing@magentech.com</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-map-wrap style1">
			<div class="block-map">
				<div class="block-content"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6787.11846816203!2d-74.00106388051138!3d40.73303806053912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2zVGjDoG5oIHBo4buRIE5ldyBZb3JrLCBUaeG7g3UgYmFuZyBOZXcgWW9yaw!5e0!3m2!1svi!2s!4v1498454043100"></iframe>					</div>
			</div>
		</div>
		<style>
			.main-content {
				padding-bottom: 0 !important;
			}
		</style>
	</div>
</div>